extends layout

block content
	.all
		#div1
			.small#winner 
				p.left 溫拿:
				p.mid 30% 
			.small#loser  
				p.left 魯蛇: 
				p.mid 70% 
			.small#time	   
				p.midtime#time_ymd  
				p.midtime#time_t  
				p.midtime#time_day 
			.small#QRcode  
				img.display(src='img/qr_code.jpg') 
				p.midcode  NTUAF
		#div2
			.main 
			.marq 
				marquee(scrollamount="20")
					p.marqtext #{M}

	script(src='/js/time.js')

