extends layout

block content
	section
		.winner
			h1 溫
			.img-box
				img(src='/img/crown.png')
			.num-box
				span.number 50
				span.percent %
		.loser
			h1 魯
			.img-box
				img(src='/img/snake.png')
			.num-box
				span.number 50
				span.percent %
		.door-text(data-content='門')
		.banner(data-content='魯門的世界 Loo Door\'s World')
		.bg-banner
	section
		.block
			.num-box
				span.number 10
				span.percent %
		.block
			.num-box
				span.number 10
				span.percent %
		.block
			.num-box
				span.number 20
				span.percent %
		.block
			.num-box
				span.number 25
				span.percent %
		.block
			.num-box
				span.number 35
				span.percent %
	.ad-box
