extends layout

block content
	.all
		#div1
			.small#winner 
				p.left 溫拿:
				p.mid 30% 
			.small#loser  
				p.left 魯蛇: 
				p.mid 70% 
			.small#time	   
				p.midtime  2016.05.02
				p.midtime  00:00
				p.midtime  Mon.
			.small#QRcode  
				img.display(src='img/qr_code.jpg') 
				p.midcode  NTUAF
		#div2
			.main 
			.marquee 





