body{
	background-color: black;
}

h1{
	color: white;
}

.q{
	position: absolute;
	z-index: -100;
}

.qbg1, .qbg2, .qbg3, .qbg4, .qbg5, .qbg6, .qbg7, .qbg8, .qbg9, .qbg10, .qbg11, .qbg12, .qbg13, .qbg14, .qbg15, .qbg16, .qbg17, .qbg18{
	width: 100%;
	z-index: -100;
}

.content{
	z-index: 100;
	left: 40%;
	position: absolute;
	transform: translateY(60%);
}

#q01{
	background-image: url(/img/web_bg/web_div1.jpg);
}
#q02{
	background-image: url(/img/web_bg/web_div2.jpg);
}
#q03{
	background-image: url(/img/web_bg/web_div3.jpg);
}
#q04{
	background-image: url(/img/web_bg/web_div4.jpg);
}
#q05{
	background-image: url(/img/web_bg/web_div5.jpg);
}

//, #q03, #q04, #q05, #q06, #q07, #q08, #q09, #q10, #q11, #q12, #q13, #q14, #q15, #q16

p{
	color: white;
}

#intro{
	height:850px;
	border-style: solid;
}

#intro div{
	margin-top:50px;
}

#intro p{
	font-size:25px;
	line-height: 80px;
	margin-left:50px;
}

.button_start{
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 20px;
	font-family: Consolas, monaco, monospace;
	color: white;
	text-decoration: none;
	font-size: 25px;
	margin: 30px 5px;
	padding: 15px 20px;
	cursor: pointer;
}

.button_start:hover {
	background-color: white;
	color: black;
	border: 2px solid #ffffff;
}

#loading{
	display:none;
}

.block{
	border-radius:25px; 
	border-style: solid;
	margin: 70px 10px;
	height: 750px;
}

.caution{
	color: white;
	font-family: Consolas, monaco, monospace;
	font-size: 35px;
	margin: 30px 5px;
}

.ques_choice{
	padding: 70px 80px;
}


h1.question{
	color: white;
	font-family: Consolas, monaco, monospace;
	padding: 30px 0px;
}
.terminal_bar{
	width:100%; 
	height: 6%;
	border-top-left-radius:25px; 
	border-top-right-radius: 25px;
}

.button_c {
	border: 2px solid #000000;
	border-radius: 20px;
	font-family: Consolas, monaco, monospace;
	color: white;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 35px;
	margin: 30px 5px;
	padding: 15px 20px;
	cursor: pointer;
}

.button_c:hover {
	background-color: white;
	color: black;
	border: 2px solid #ffffff;
}

#success_notice_qrcode, #success_notice_fb{
	border:2px solid #000000;
	display:none;
	position:absolute;
	height:300px;
	width:300px;
	z-index:99;
}
#success_notice_qrcode span, #success_notice_fb span{
	font-size:25px;
	display: inline-block;
}

#share{
	margin:0 auto;
}

#fbmessage{
	border:2px solid #000000;
	position:absolute;
	z-index:99;
	height:200px;
	width:300px;
	display:none;
}

#fbmessage input{
	height:50%;
	width:100%;
}

