body{
	background-color: black;
}

h1.question{
	font-family: Consolas, monaco, monospace;
	padding: 30px 0px;
	font-size: 40px;
	text-shadow:none;
	line-height:60px;
}

.qbg1, .qbg2, .qbg3, .qbg4, .qbg5, .qbg6, .qbg7, .qbg8, .qbg9, .qbg10, .qbg11, .qbg12, .qbg13, .qbg14, .qbg15, .qbg16, .qbg17, .qbg18, .qbg19, .qbg20, .qbg21, .qbg22, .qbg23{
	background-size: cover;
	height:100vh;
}
.qbg1, .qbg2, .qbg3, .qbg4. .qbg17, .qbg18, .qbg19, .qbg20, .qbg21, .qbg22, .qbg23{
	background-image: url(/img/web_bg/web_div1.jpg);
}
.qbg6{
	background-image: url(/img/web_bg/web_div2.jpg);
}
.qbg7{
	background-image: url(/img/web_bg/web_div3.jpg);
}
.qbg8{
	background-image: url(/img/web_bg/web_div4.jpg);
}
.qbg9, .qbg10, .qbg11, .qbg12, .qbg13, .qbg14, .qbg15{
	background-image: url(/img/web_bg/web_div5.jpg);
}
.qbg16{
	background-image: url(/img/web_bg/web_div6.jpg);
}
.qbg1 .ques, .qbg2 .ques, .qbg3 .ques, .qbg4 .ques, .qbg5 .ques, .qbg9 .ques, .qbg10 .ques, .qbg11 .ques, .qbg12 .ques, .qbg13 .ques, .qbg14 .ques, .qbg15 .ques, .qbg16 .ques, .qbg17 .ques, .qbg18 .ques, .qbg19 .ques, .qbg20 .ques, .qbg21 .ques, .qbg22 .ques, .qbg23 .ques{
	padding:5% 10% 0 10%;
}

.qbg6 .ques{
	padding: 5% 10% 0 40%;
}
.qbg7 .ques{
	padding: 5% 10% 0 30%;
}
.qbg8 .ques{
	width:70%;
	padding: 10% 10% 0 10%;
}
a.button_c, a.button_start {
	border-radius: 20px;
	font-family: Consolas, monaco, monospace;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 30px 10px;
	padding: 15px 25px;
	cursor: pointer;
}

a.button_start{
	border: 2px solid white;
	color:white;
}

.qbg1 h1, .qbg2 h1, .qbg3 h1, .qbg4 h1, .qbg5 h1, .qbg16 h1, .qbg17 h1, .qbg18 h1, .qbg19 h1, .qbg20 h1, .qbg21 h1, .qbg22 h1, .qbg23 h1{
	color:white;
}
.qbg6 h1, .qbg8 h1, .qbg9 h1, .qbg10 h1, .qbg11 h1, .qbg12 h1, .qbg13 h1, .qbg14 h1, .qbg15 h1{
	color:black;
}
.qbg1 .button_c, .qbg2 .button_c, .qbg3 .button_c, .qbg4 .button_c, .qbg5 .button_c, .qbg7 .button_c, .qbg16 .button_c, .qbg17 .button_c, .qbg18 .button_c, .qbg19 .button_c, .qbg20 .button_c, .qbg21 .button_c, .qbg22 .button_c, .qbg23 .button_c{
	border: 2px solid white;
	color:white;
}
.qbg6 .button_c, .qbg8 .button_c, .qbg9 .button_c, .qbg10 .button_c, .qbg11 .button_c, .qbg12 .button_c, .qbg13 .button_c, .qbg14 .button_c, .qbg15 .button_c{
	border: 2px solid black;
	color:black;
}

p{
	color: white;
}

#intro{
	height:850px;
	border-style: solid;
}

#intro div{
	margin-top:50px;
}

#intro p{
	font-size:25px;
	line-height: 80px;
	margin-left:50px;
}


#loading{
	display:none;
}

.block{
	border-radius:25px; 
	border-style: solid;
	margin: 70px 10px;
	height: 750px;
}

.caution{
	color: white;
	font-family: Consolas, monaco, monospace;
	font-size: 35px;
	margin: 30px 5px;
}

.terminal_bar{
	width:100%; 
	height: 6%;
	border-top-left-radius:25px; 
	border-top-right-radius: 25px;
}



#success_notice_qrcode, #success_notice_fb{
	border:2px solid #000000;
	display:none;
	position:absolute;
	height:300px;
	width:300px;
	z-index:99;
}
#success_notice_qrcode span, #success_notice_fb span{
	font-size:25px;
	display: inline-block;
}

#share{
	margin:0 auto;
}

#fbmessage{
	border:2px solid #000000;
	position:absolute;
	z-index:99;
	height:200px;
	width:300px;
	display:none;
}

#fbmessage input{
	height:50%;
	width:100%;
}

