<!DOCTYPE html>
<html lang="en">
<head>
	<title>Door</title>
	<meta charset="utf-8">
</head>
<body>

<div class="content">
	<div class="blackBlock">
		<img src="img/terminal_bar.png" class="terminal_bar"></img>
		<div class="ques_choice">
			<h1 class="tlt_q question">Q1：你單身嗎?</h1>
			<a href="/Q2"><button id="A" class="tlt_c1 button_c">A：當然~我可是正港的魯蛇耶</button></a><br>
			<a href="/Q2"><button id="B" class="tlt_c2 button_c">B：不是~我走魯門只是想體驗當魯蛇的感覺</button></a>
		</div>
	</div>
</div>



	<!--js and css-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.lettering.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.textillate.js"></script>
	<script src="js/test.js"></script>
	<script src="js/button.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="css/animated.css" rel="stylesheet">
	<link href="css/test.css" rel="stylesheet">

	
</body>
</html>

