extends layout

block content
	#fountainTextG
		.fountainTextG#fountainTextG_1 L
		.fountainTextG#fountainTextG_2 o
		.fountainTextG#fountainTextG_3 a
		.fountainTextG#fountainTextG_4 d
		.fountainTextG#fountainTextG_5 i
		.fountainTextG#fountainTextG_6 n
		.fountainTextG#fountainTextG_7 g
