<!DOCTYPE html>
<html lang="en">
<head>
	<title>Door</title>
	<meta charset="utf-8">
</head>
<body>


<div class="content">
	<div class="blackBlock">
		<img src="img/terminal_bar.png" class="terminal_bar"></img>
		<div class="ques_choice">
			<p class="tlt_q caution">注意事項</p>
			<p class="tlt_q caution">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah</p>
			<div style="text-align:center">
				<a href="/Q1"><button id="A" class="tlt_q button_begin button_c">開始測驗</button></a><br>
			</div>
		</div>
	</div>
</div>

	<!--js and css-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.lettering.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.textillate.js"></script>
	<script src="js/test.js"></script>
	<script src="js/button.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link href="css/animated.css" rel="stylesheet">
	<link href="css/test.css" rel="stylesheet">

	
</body>
</html>

