extends layout

block content
	a(href="/Q/1")#start 開始
//	.content
//		.blackBlock
//			#center
//				img.terminal_bar(src='/img/terminal_bar.png')
//				.tlt_q.button_begin.button_c
//					a(href="/Q/1")#start 開始
