extends layout

block content
	.text-center
		img(src="/img/web_bg/web_index.jpg" height="940px")
	h1.text-center 魯門的世界
	#intro.col-md-6.col-md-offset-3
		div
			p 歡迎來到溫魯檢測站
			p 將手掌放置於測謊平台後，測驗自動開始
		.text-center
			a(href="/questions").button_start 開始
