doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/animated.css')
		link(rel='stylesheet', href='/css/lie.css')
		link(rel='stylesheet', href='/css/share.css')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
	body
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		script(src='//code.jquery.com/jquery-1.10.2.js')
		script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
		block content

    
