doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/animated.css')
    link(rel='stylesheet', href='/css/lie.css')
    link(rel='stylesheet', href='/css/loading.css')
  body
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    block content
    
