doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/animated.css')
    link(rel='stylesheet', href='/css/test.css')
  body
    block content
    script(src='/js/jquery.js')
    script(src='/js/jquery.lettering.js')
    script(src='/js/jquery.fittext.js')
    script(src='/js/jquery.textillate.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/test.js')
    script(src='/js/button.js')
